<html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  
  
  <style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);

body {
	background: linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
}
#weather_wrapper{
	width: 400px;
	margin: 100px auto;
}
.weatherCard{
	width: 400px;
	height: 200px;
	font-family: 'Open Sans';
	position: relative;
}
.currentTemp{
	width: 220px;
	height: 200px;
	background: rgb(41, 41, 41);
	position: absolute;
	top: 0;
	left: 0;
}
.currentWeather{
	width: 180px;
	height: 200px;
	background: rgb(237, 237, 237);
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.temp{
	font-size: 80px;
	text-align: center;
	display: block;
	font-weight: 300;
	color: rgb(255, 255, 255);
	padding: 20px 0 0;
}
.location{
	color: rgb(255, 255, 255);
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	display: block;
}
.conditions{
	font-family: weathericons;
	font-size: 80px;
	display: block;
	padding: 20px 0 0;
	text-align: center;
}
.info{
	width: 180px;
	height: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgb(42, 178, 234);
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-align: center;
}
.rain {
	width: 50%;
	position: absolute;
	left: 10px;
	word-spacing: 60px;
	top: 3px;
}
.rain::before{
	display: block;
	content: '\f04e';
	font-family: weathericons;
	font-size: 40px;
	left: 6px;
	top: -4px;
	position: absolute;
}
.wind {
	width: 50%;
	right: -10px;
	position: absolute;
	word-spacing: 60px;
	top: 3px;
}
.wind::before{
	display: block;
	content: '\f050';
	font-family: weathericons;
	font-size: 25px;
	left: -10px;
	position: absolute;
	top: 5px;
}
  </style>
  <body>

	
<%= console.log(dataw); %>
<%= console.log("-----"); %>
<%= console.log(datan); %>

<div id="weather_wrapper">
	<div class="weatherCard">
		<div class="currentTemp">
			<span class="temp"><%= dataw.main.temp%></span>
			<span class="location"><%= dataw.name%>.</span>
		</div>
		<div class="currentWeather">
			<img class="text-center" src="http://openweathermap.org/img/w/<%= dataw.weather[0].icon%>.png">
			<div class="info">
				<span class="rain"><%= dataw.main.humidity%> MM</span>
				<span class="wind"><%= dataw.wind.speed%> M</span>
			</div>
		</div>
	</div>
</div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>